* {
    margin: 0;
    padding: 0;
}


label, input 
{
    display: block;
}

input {
    margin-bottom: 15px;
    padding-left: 5px;
}


.login-input {
    height: 35px;
    width: 285px;
    border-radius: 5px;
    border-color: rgb(195, 195, 195);
    border-width: 1px;
}

.password-label, .forgot-password, #remember-me-checkbox, .remember-me-checkbox {
    display: inline-block;
}

.login {
    height: 40px;
    width: 290px;
    border-color: #13171a;
    background-color:#13171a;
    color: white;
    border-radius: 5px;
    box-shadow: unset;
 

}

p {

    margin-bottom: 20px;
    font-family:  Geneva, Tahoma, sans-serif;
    color: rgb(192, 192, 192);
}


section {
    position: absolute;
    top: 30%;
    margin-left: 10%;
    background-color:#1b2126;
    height: 370px;
    padding: 20px;
    border-radius: 7px;
}

body {
    background-color:  #13171a;
}


h1 {
    color : rgb(226, 226, 226);
}

a {
    color: aqua;
}

label {
    color: aliceblue;
}

.forgot-password {
    margin-left: 120px;
    font-size: 15px;
}



form.form-2 input{
    height: 40px;
    width:90px;
    margin-left: 5px;
    display: inline-block;
    padding: 10px;
   
}

form.form-2 input:first-child{
 
    margin-left: 1px;

 
  
}



nav span.link-con {
    background-color: #13171a;
    margin-left: 60px;
    padding: 10px;

    
}
nav span.link-con:first-child{
    background-color:#1b2126;
    box-shadow: 1px 1px #282828;

    
}
nav span.link-con:hover {
    background-color:#1b2126;
    margin-left: 60px;
    padding: 10px;
    box-shadow: 1px 1px #282828;

    
}

header {
    margin: 70px;
    
}
nav a {
    color:rgb(226, 226, 226);
    font-family:  Geneva, Tahoma, sans-serif;
    text-decoration: none;
   
    font-size: 16px;
}
nav {
    
    text-align: right;
    margin-top: -30px;
}
div.logo {
    display: inline-block;
    color: rgb(226, 226, 226);
}
div.logo p {
    display: inline-block;
    font-size: 25px; 
}

div.logo .name-part-two {
    color: #778993;
}

.images-albums {
    display: inline-block;
    position:absolute;
    
}
.images-albums  img{
    height: 300px;
    position: relative;
    margin: -20px;
    left:40%;
}

section, div {
    display: inline-block;
}

