
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #13171a;
}

nav a {
    color:rgb(226, 226, 226);
    font-family:  Geneva, Tahoma, sans-serif;
    text-decoration: none;
   
    font-size: 16px;
}
nav {
    
    text-align: right;
    margin-top: -30px;
}



div.logo {
    display: inline-block;
    color: rgb(226, 226, 226);
}
div.logo p {
    display: inline-block;
    font-size: 25px; 
}

div.logo .name-part-two {
    color: #778993;
}

header {
    margin: 80px;
    
}

div.message-greetings, .images-albums {
    display: inline-block;
}

main {
    margin-left: 80px;
    margin-right: 50px;
    margin-top: 150px;
}

main h1 {

    color:  rgb(248, 246, 246);
    font-weight:bolder;
    font-size: 50px;
}

main h3 {
    color: #2c6d77;
    font-family:  Geneva, Tahoma, sans-serif;
    font-size: 25px;
}


main p {
    color: #929497;
    font-family:  Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

main h1,h1,h3,p {
    margin-bottom: 10px;
}

input {
    border-radius: 50px;
    height: 40px;
    width: 210px;
    background-color: #13171a;
    border-color: white;
    color: white;
    margin-top: 50px;
}

input:hover{
    background-color:#1b2126;
}

nav span.link-con {
    background-color: #13171a;
    margin-left: 60px;
    padding: 10px;

    
}
nav span.link-con:first-child{
    background-color:#1b2126;
    box-shadow: 1px 1px #282828;

    
}
nav span.link-con:hover {
    background-color:#1b2126;
    margin-left: 60px;
    padding: 10px;
    box-shadow: 1px 1px #282828;

    
}

div.images-albums{
    position:absolute;

}
.images-albums  img{
    height: 300px;
    position: relative;
    margin: -20px;
}




